/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* css reset below */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS post reset below */
html {
    font-size: 100%;
    scroll-padding-top: 105px;
}

header {
    background-color: #000;
    width: 100%;
    position: fixed;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

h1,
h2 {
    font-family: 'Chonburi',
        cursive, "Times New Roman", serif;
    text-align: center;
    color: #005ABE;
    font-weight: bold;
    font-size: 2rem;
    padding: 30px;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bolder;
}

h3>span {
    margin-right: 15px;
}

p,
ul {
    font-family: "Times New Roman",
        serif;
    line-height: 1.5;
    font-size: 1.2rem;
}

ul {
    margin-left: 15px;
    margin-bottom: 15px;
}

img {
    width: 100%;
}



header img {
    width: 55%;
    height: auto;
    position: relative;
}

button#ham-btn {
    color: #fff;
    padding: 0;
    border: none;
    height: 100%;
    font-size: 3.2rem;
    background: #000;
    align-self: center;
}

button.cta a {
    text-decoration: none;
    color: #fff;
}

header div#side-menu {
    display: none;
    color: #fff;
    background-color: #000;
    position: absolute;
    width: 100%;
    top: 6.7rem;
    right: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    line-height: 1.5;
}

div#side-menu a {
    color: #fff;
    text-decoration: underline;
    font-family: "Times New Roman", serif;
    font-weight: normal;
    line-height: 1.5;
}

.fas,
.far {
    margin-right: 5px;
}

main {
    padding-top: 100px;
}

main section p,
h3,
ul {
    padding-left: 30px;
    padding-right: 30px;
}

main li:before {
    content: "- ";
}

section {
    display: inline-block;
    width: 100%;
}

section:nth-child(odd) {
    background-color: #EEE;
}

figcaption {
    padding: 5px 30px 0;
    text-align: center;
    font-style: italic;
}

figcaption a {
    color: #000;
}

button.cta {
    background-color: #7abf36;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 900;
    padding: 20px 40px;
    border: 1px solid #7abf36;
    width: 90%;
    display: block;
    margin: 30px auto;
}

#questions-section a {
    color: #7ABF36;
    font-weight: bold;
    text-transform: capitalize;
}

#questions-section p {
    padding-bottom: 30px;
}

#about-us-section {
    margin-bottom: 30px;
}

figure img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
}

footer img {
    width: 50%;
}

footer p#copyright {
    font-size: .7em;
}

.footer-content {
    padding-bottom: 20px;
    padding-top: 20px;
}


@media only screen and (min-width: 768px) {

    .header-content {
        max-width: 1000px;
        margin: 0 auto;
    }

    header img {
        width: 40%;
        height: auto;
        position: relative;
    }

    button#ham-btn {
        display: none;
    }

    header div#side-menu {
        display: block;
    }

    div.side-menu h3 {
        display: none;
    }

    main.wrapper {
        max-width: 1000px;
        margin: 0 auto;
        display: block;
    }

    button.cta {
        max-width: 20rem;
    }

    section#home-section {
        margin-top: 200px;
    }
}